.parent-div1 {
  height: 100%;
}

.div2 {
  background-color: yellowgreen;
  height: 400px;
}

#right-side {
  padding-left: 30px;
  background-color: white;
  border-radius: 30px;
  position: relative;
}

#logo {
  position: absolute;
  top: 20px;
  left: 300px;

  height: 100px;
}